.InforIcon{
    width: 150px;
}
.errorWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.errorTitle{
    font-weight: 500;
    font-size: 30px;
    margin: 20px 10px;
}
.errorDescription{
    margin-bottom: 20px;
}
.errorBtnWrapper button{
    color: red;
    border-color: red;
}