.brokerDetailsWrapper{
    margin: 20px 100px 15px;
}
.borrowerDetails{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 40px;
}
.borrowerDetailsInput{
    display: flex;
    flex-direction: column;
}
.borrowerDetailsInput #standard-basic{
    margin-top: 16px;
}
.detailsCustomWrapper{
    display: flex;
    flex-direction: column;
}
.topDetailsInput{
    margin-bottom: 20px;
    margin-top: 10px
}
.brokerDetailSubtitle{
    font-weight: 500;
}
.brokerDetailsContentWrapper{
    margin: 20px 0px;
}
.brokerDetailBtnWraper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.borrowerDetailsDescription{
    margin-bottom: 16px;
}
.MuiFormControl-root.MuiTextField-root.topDetailsInput.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin-bottom: 12px;
}
.brokerDetailsContentWrapper .brokerDetailSubtitle{
    margin-bottom: 10px;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 1275px;
}
.brokerDetailBtnWraper .btn1{
    border-color: red;
    color: red;
}
.brokerDetailBtnWraper .btn1:hover{
    border-color: red;
    color: red;
}

.brokerDetailBtnWraper .btn2{
    border-color: red;
    color: white;
    background-color: red;
}
.brokerDetailBtnWraper .btn2:hover{
    border-color: red;
    color: white;
    background-color: red;
}